<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/static/pure-min.css"|url }}" />
    <link rel="stylesheet" href="{{ "/static/grids-responsive-min.css"|url }}" />
    <link rel="stylesheet" href="{{ "/static/pygments.css"|url }}" />
    <link rel="stylesheet" href="{{ "/static/style.css"|url }}" />

    <title>{% block title %}Welcome{% endblock %} — The Universal Playlist Format Specification</title>
</head>

<body>
    <div class="content">
        {% block body %}{% endblock %}
    </div>
    <div class="footer">
        <div class="legal pure-g">
            <div class="pure-u-1 pure-u-sm-2-3">
                <p class="legal-license">
                This site is hosted on the fantastic <a href="https://www.netlify.com">Netlify</a>.
                </p>
            </div>

            <div class="pure-u-1 pure-u-sm-1-3">
                <ul class="legal-links">
                    <li><a href="https://gitlab.com/stavros/universal-playlist">Gitlab project</a></li>
                    <li><a href="https://gitlab.com/stavros/universal-playlist/issues">Issue tracker</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

